@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  background-color: rgba(1, 1, 1, 0.911);
  color: rgba(247, 250, 250, 0.911);
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  margin-left: 2rem;
}

h1 {
  text-align: center;
  font-style: italic;
  color: rgba(243, 246, 246, 0.911);
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.38rem;
}

li,
dd {
  font-size: 1.2rem;
}

.dt {
  font-weight: 700;
  font-size: 1.25rem;
}

.title-tablas {
  text-align: center;
  margin: 1.1rem 0rem 0.5rem;
}

.table {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  color: aliceblue;
  background-color: rgba(47, 82, 83, 0.911);
  border: 0.15rem solid rgb(252, 248, 248);
  padding: 7px;
  font-size: 1.2rem;
}

td {
  border: 0.15rem solid rgb(252, 248, 248);
  padding: 7px;
  font-size: 1.2rem;
}
