* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

h1 {
  color: aliceblue;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 2rem 0rem 1.2rem;
}

.imagen {
  display: flex;
  justify-content: center;
}

.tigre {
  border-radius: 1rem;
  width: 70%;
}

.parrafos {
  margin: 1.2rem;
  text-align: justify;
}

p {
  margin: 1.2rem;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.parrafos a {
  text-decoration: none;
  color: blueviolet;
}

footer p {
  margin-top: 5rem;
  font-size: 1rem;
  text-align: center;
}

